@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./fonts/noto-sans-regular.woff2") format("woff2")
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("./fonts/noto-sans-bold.woff2") format("woff2")
}

@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('./fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2');
}