html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a,
button,
input[type="button"],
*[role="button"] {
  cursor: pointer;
  user-select: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  overflow-x: hidden;
  font-size: 1em;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  color: #525252;
  font-size: 1em;
  background: white;
  text-align: left;
  overflow-x: hidden;
}

[class*="column"] {
  margin-bottom: 10px;
}

[class*="column"]:last-child {
  margin-bottom: 0;
}

.rr {
  margin: 0;
  padding: 0;
  list-style: none;
}

.oh {
  overflow: hidden;
}

input,
textarea {
  width: 100%;
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

.input {
  background: #8a8a8a;
  font-size: 0.875em;
  border: 0;
  display: block;
}

.input:hover {
  background: #6d6d6d;
}

.search-box .input.field {
  border-radius: 5px;
  /* margin-top: 13px; */
}

li.input {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.input.button {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.item-thumb a {
  cursor: pointer;
}

.input.field {
  font-weight: 300;
  color: #9d9d9d;
  font-size: 0.875em;
  padding-right: 0.9em;
  padding-left: 0.9em;
}

.input.field:focus {
  color: #525252;
}

.input.field::-webkit-input-placeholder {
  color: #9d9d9d;
}

/* .input.field:-moz-placeholder {
    Firefox 18- color: #9d9d9d;
}

.input.field::-moz-placeholder {
    Firefox 19+color: #9d9d9d;
} */

.input.field:-ms-input-placeholder {
  color: #9d9d9d;
}

.input.field,
.input.border {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
}

.input.border {
  color: #cc5370;
}

.input.border.high {
  background: #c7e3fb;
}

.input.red:hover {
  background: #007c29;
}

.wrap-new a.button:hover {
  background: #007c29 !important;
}

.input.dark {
  background: #525252;
}

.input.dark:hover {
  background: #3b3b3b;
}

.input.transparent {
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.input.transparent:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.input.primary {
  height: 3.429em;
}

a.input.primary {
  padding-top: 1em;
}

a.input.primary.border {
  padding-top: 0.8em;
}

.input.secondary {
  height: 2.714em;
}

.input.secondary.fixed {
  width: 100%;
}

.input.secondary.responsive {
  padding-bottom: 0.65em;
  height: auto;
}

a.input.secondary,
span.input.secondary {
  padding-top: 0.65em;
}

a.input.secondary.border,
span.input.secondary.border {
  padding-top: 0.45em;
}

a.input.secondary.border.responsive,
span.input.secondary.border.responsive {
  padding-bottom: 0.45em;
  height: auto;
}

.input.tertiary {
  height: 2.154em;
}

.input.tertiary.flexible {
  padding-right: 1.077em;
  padding-left: 1.077em;
  display: inline-block;
}

a.input.tertiary {
  padding-top: 0.35em;
}

a.input.tertiary.border {
  padding-top: 0.19em;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.ui-links {
  font-size: 0.813em;
  color: #d1d1d1;
  font-weight: 400;
  margin-right: -6px;
}

.ui-links a {
  margin: 0 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
}

.stripe-dark h1,
.stripe-dark h2,
.stripe-dark h3,
.stripe-dark h4,
.stripe-dark h5,
.stripe-dark h6,
.stripe-darker h1,
.stripe-darker h2,
.stripe-darker h3,
.stripe-darker h4,
.stripe-darker h5,
.stripe-darker h6 {
  color: #fff;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1,
.h1 {
  font-size: 2.25em;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

h1.alt {
  font-weight: 700;
}

.page.e404 h1.alt {
  position: relative;
  margin-top: 165px;
}

.page.e404 h1.alt:before {
  content: "";
  position: absolute;
  display: block;
  width: 84px;
  height: 84px;
  background: url("../img/sprite.png") no-repeat -250px -50px;
  top: -105px;
  left: 50%;
  margin-left: -42px;
}

h2 {
  font-size: 18px;
  color: #222;
  margin-bottom: 0.6em;
}

h2 span {
  color: #d1d1d1;
}

h2 span.alt {
  color: #bebebe;
}

h2 a:hover {
  text-decoration: underline;
}

h2.alt {
  text-transform: none;
  color: #525252;
}

h2.alt a {
  color: #525252;
}

h2.alt a:hover {
  text-decoration: none;
}

h3 {
  font-size: 0.938em;
  text-transform: uppercase;
  color: #525252;
}

h3.white {
  color: #fff;
}

h4 {
  font-size: 0.875em;
  font-weight: 400;
  color: #c8c8c8;
}

h5 {
  font-size: 0.813em;
  font-weight: 400;
  color: #fff;
  background: #8a8a8a;
  line-height: 2.8em;
  margin: 1em 0;
}

h5.alt {
  font-weight: 700;
  color: #525252;
  margin-top: 1em;
  background: none;
}

h6 {
  font-size: 0.75em;
  font-weight: 400;
  color: #c6c6c6;
  margin: 0;
}

.value {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.value.primary {
  font-size: 1.875em;
  color: #525252;
  line-height: 1em;
}

.value.secondary {
  font-size: 1.125em;
  color: #fb5e00;
}

p {
  line-height: 1.615em;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.text-content {
  font-size: 0.813em;
  line-height: 1.615em;
}

.text-content p {
  margin: 1.6em 0;
}

.text-content p:first-child {
  margin-top: 0;
}

p.text {
  font-size: 0.875em;
}

p.text.secondary {
  font-size: 0.813em;
  line-height: 1.615em;
  color: #7b7b7b;
}

p.text.small {
  font-size: 0.813em;
}

.stripe-white {
  background: #fff;
  padding: 25px 0;
  border: 1px solid #cecece;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.stripe-white.big {
  padding: 40px 0;
}

.stripe-dark {
  background: #3b3b3b;
  padding: 38px 0;
}

.stripe-darker {
  background: #2a2a2a;
  padding: 18px 0;
}

.stripe-dark,
.stripe-darker {
  color: #fff;
}

.stripe-regular {
  padding: 20px 0 15px;
}

.stripe-regular.collapse {
  padding-bottom: 10px;
}

.wrapper-3 {
  background: #fff;
  padding: 10px;
}

.item-thumb .wrap-new {
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  height: 100px;
  padding: 10px;
}

.wrapper-3.primary {
  padding: 30px;
}

.wrapper-3.secondary {
  padding: 16px 0;
}

.wrapper-3.tertiary {
  padding: 0;
}

.wrapper-3.secondary .inner {
  padding: 0 20px;
}

.wrapper-3.tertiary .inner {
  padding: 20px;
}

.wrapper-5 {
  display: block;
  background: #fff;
  padding: 14px 20px;
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wrapper-5.small {
  padding: 12px;
}

.info-box {
  margin-bottom: 8px;
}

.testimonials-box {
  margin-top: 16px;
}

.testimonials-box .flex-direction-nav {
  display: none;
}

.testimonial .bubble {
  position: relative;
}

.testimonial .bubble:after {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat -150px -50px;
  width: 11px;
  height: 10px;
  bottom: -10px;
  right: 24px;
}

.video-box {
  height: 260px;
}

.video-box.small {
  height: 200px;
}

aside.main-sidebar {
  margin-top: 1.75em;
}

aside .block {
  margin-bottom: 20px;
}

aside .block:last-child {
  margin-bottom: 0;
}

aside.main-sidebar.bg {
  margin-top: 2em;
}

aside .video-box {
  margin: 20px 0;
}

.flexslider {
  position: relative;
}

.flexslider img {
  max-width: 100% !important;
  width: inherit !important;
}

.flex-control-nav {
  display: none;
}

.flex-direction-nav a {
  position: absolute;
  top: 100%;
  margin-top: 8px;
  width: 14px;
  height: 23px;
  display: block;
  background: url("../img/sprite.png") no-repeat;
  text-indent: -9999px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.flex-direction-nav a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

a.flex-prev {
  background-position: -150px 0;
  left: 50%;
  margin-left: -30px;
}

a.flex-next {
  background-position: -200px 0;
  right: 50%;
  margin-right: -30px;
}

.flexslider.white .flex-direction-nav a {
  top: 45%;
  margin: 0;
}

.flexslider.white a.flex-prev {
  background-position: -50px 0;
  left: -4px;
}

.flexslider.white a.flex-next {
  background-position: -100px 0;
  right: -4px;
}

.popular-companies .slides a {
  width: 114px;
  height: 114px;
  margin: 5px 10px;
}

.item-thumb {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.item-thumb figure {
  float: left;
  width: 80px;
  border: 1px solid #ddd;
  padding: 5px;
  cursor: pointer;
}

.item-thumb:hover h2 {
  color: #a9a9a9;
}

.item-thumb:hover {
  background: #f7f7f7;
}

.item-thumb .top {
  float: left;
  height: 77px;
}

.item-thumb .top .after {
  border-bottom: 1px dashed #e3e3e3;
  clear: both;
  display: block;
  height: 0;
  margin-bottom: 10px;
  width: 100%;
}

.item-thumb h2 {
  position: static;
  margin-bottom: 10px;
}

.item-thumb .value.secondary {
  margin-top: 18px;
}

.item-thumb h6 {
  margin-bottom: 0;
}

.items-carousel .slides .item-thumb {
  margin: 5px 10px;
}

.content-coupon {
  float: left;
  padding-left: 16px;
  position: relative;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  max-width: 100%;
}

@media (min-width: 768px) {
  .content-coupon {
    width: calc(100% - 96px);
  }
}

@media (max-width: 767px) {
  .content-coupon {
    width: 100%;
  }
}

.content-coupon p {
  display: none;
}

.wrap-new .bottom.columns {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.clearfix {
  clear: both;
}

.items-landscape .col-middle {
  text-align: center;
}

.items-landscape li {
  margin-bottom: 10px;
}

.items-landscape figure {
  margin-bottom: 10px;
  text-align: center;
}

.items-landscape .col-right {
  text-align: center;
  padding-left: 20px;
}

.coupons-count {
  text-align: center;
}

.coupons-count h4 {
  margin: 0 0 10px;
}

.items-landscape h4,
.items-landscape h6 {
  margin: 0 0 10px;
}

.companies-wrapper {
  margin-bottom: 30px;
}

.icon {
  background: url("../img/sprite.png") no-repeat;
  display: inline-block;
}

.icon.tag {
  width: 40px;
  height: 18px;
  background-position: 0 0;
}

.top-wrap {
  background: #fff none repeat scroll 0 0;
  border-bottom: 2px solid #c42e3d;
  color: #333;
  position: static;
  text-transform: uppercase;
  z-index: 1000;
}

.logo {
  cursor: pointer;
  font-size: 1.313em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-menu,
.popular-companies-list {
  display: none;
}

.select-main-menu {
  width: 100% !important;
}

.select-popular-companies-list {
  width: 90% !important;
  margin: 0 auto;
  display: block;
}

.select-main-menu .customSelectInner {
  width: 100% !important;
}

.select-main-menu.customSelect:after {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat -100px -50px;
  width: 6px;
  height: 11px;
  z-index: 100;
  top: 50%;
  margin-top: -5px;
  right: 22px;
}

.account .input {
  width: 49%;
  float: left;
}

.account .input:first-child {
  margin-right: 2%;
}

.main-slider-wrap {
  /* background: #525252; */
  color: #fff;
  text-align: center;
}

.slides a {
  display: block;
}

.main-slider .h1 {
  text-align: center;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

.main-slider .caption {
  font-size: 0.938em;
}

.main-slider figure {
  text-align: center;
}

.main-slider img {
  display: none !important;
}

.main-slider .tag {
  margin-left: 9px;
  position: relative;
  top: 3px;
}

.search-wrap {
  border-top-color: #fff;
  margin-top: 0;
}

.search-box {
  position: relative;
  display: block;
}

.search-box input {
  padding-left: 2.8em !important;
}

.search-box:before {
  position: absolute;
  content: "";
  display: block;
  background: url("../img/sprite.png") no-repeat 0 -50px;
  width: 17px;
  height: 16px;
  top: 50%;
  left: 16px;
  margin-top: -8px;
}

.search-box .icon.clear {
  position: absolute;
  background: url("../img/sprite.png") no-repeat -50px -50px;
  width: 16px;
  height: 16px;
  right: 16px;
  top: 50%;
  margin-top: -8px;
}

.menu-browse .input {
  position: relative;
}

.menu-browse p.label {
  margin-top: 0.9em;
}

.menu-browse .input:after {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat -100px -50px;
  width: 6px;
  height: 11px;
  z-index: 100;
  top: 50%;
  margin-top: -5px;
  right: 14px;
}

.menu-browse .sub {
  background: #8a8a8a;
  margin-top: -3px;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 200;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.menu-browse .sub a {
  display: block;
  padding: 10px 14px;
}

.menu-browse .sub a:hover {
  background: #6d6d6d;
}

.menu-browse .sub li:last-child a {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination {
  margin-left: -3px;
  margin-left: 0;
  text-align: center;
  padding-left: 0;
}

.pagination li {
  display: inline-block;
  margin-bottom: 10px;
}

.pagination a,
.pagination span {
  display: block;
  background: #fff;
  font-weight: 700;
  color: #525252;
  padding: 12px 20px;
  margin: 0 3px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.pagination span {
  color: #4dc2da;
}

.pagination a:hover {
  background: #f0f0f0;
  color: #bebebe;
}

.pagination li.current a {
  background: #f45435;
  border-color: #f45435;
  color: #fff;
}

.sort-items {
  margin-bottom: 20px;
  text-align: center;
}

.filter-days {
  font-size: 0.813em;
  color: #7b7b7b;
  margin: 1.8em 0;
}

.filter-days .bg-bar {
  height: 8px;
  background: #ededed;
  padding: 0 8px 0 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.filter-days .ui-slider-range {
  height: 8px;
  background: #f45435;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.filter-days .ui-slider-handle {
  background: #f45435;
  width: 17px;
  height: 17px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.filter-days .info {
  margin-top: 9px;
  position: relative;
}

.filter-days .end {
  position: absolute;
  top: 0;
  right: 0;
}

.checklist {
  font-size: 0.813em;
  color: #7b7b7b;
}

.checklist li {
  margin-bottom: 7px;
}

.checklist li:last-child {
  margin-bottom: 0;
}

.checklist label,
.checklist p {
  display: inline-block;
}

.checklist .checkbox {
  background: #ebebeb;
  display: block;
  float: left;
  border: 1px solid #d9d9d9;
  width: 16px;
  height: 16px;
  margin: 1px 12px 0 0;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.checklist .checkbox.checked:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 0;
  width: 13px;
  height: 11px;
  background: url("../img/sprite.png") no-repeat 0 -100px;
}

.checklist input {
  opacity: 0;
  width: 16px;
  height: 16px;
}

.count-bullet {
  font-weight: 700;
  color: #fff;
  background: #bebebe;
  padding: 0 0.7em;
  border-radius: 2em;
  min-width: 2.5em;
  text-align: center;
  float: right;
}

.sidebar-list {
  border-top: 1px dashed #dcdcdc;
  border-bottom: 1px dashed #dcdcdc;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.sidebar-list a {
  font-size: 0.813em;
  color: #7b7b7b;
  display: block;
  padding: 0.7em 20px;
}

.sidebar-list a:hover {
  background: #f0f0f0;
  color: #f45435;
}

.sidebar-list span {
  font-size: 1em;
}

.side-link {
  font-size: 0.813em;
  color: #d1d1d1;
  line-height: 3em;
  text-align: center;
  display: block;
  margin-bottom: -14px;
}

.side-link:hover {
  text-decoration: underline;
}

.page.e404 .caption {
  color: #fff;
  margin: -0.8em 0 5em;
}

.company-box {
  margin: 20px 0 40px;
}

.company-box figure {
  text-align: center;
}

.company-box a.input {
  margin: 0 auto;
}

.company-box .photos li {
  text-align: center;
}

.blog-summary .wrapper-3 {
  padding-top: 30px;
}

.blog-summary figure {
  padding: 0 10px;
}

.subtitle {
  font-size: 0.813em;
  color: #cbcbcb;
  margin: -0.4em 0;
  text-align: center;
}

.subtitle a:hover,
.tags a:hover,
p.text a:hover,
.text-content a:hover {
  text-decoration: underline;
}

.page.blog-post .subtitle {
  margin-bottom: 0.8em;
}

.blog-summary a.input {
  margin: 3em auto 0;
}

.blog-summary .col-right {
  padding-left: 0;
}

.blog-summary .coupons-count {
  margin-top: 1em;
}

ul.tags {
  font-size: 0.813em;
  color: #7b7b7b;
  margin-top: 0.4em;
}

ul.tags li {
  display: inline-block;
}

ul.tags li:after {
  content: ", ";
}

ul.tags li:first-child:after,
ul.tags li:last-child:after {
  content: "";
}

section.comments {
  margin-top: 50px;
}

.post-comment-wrap {
  text-align: center;
  margin: -0.8em 0 0.8em;
}

.post-comment-link {
  font-size: 0.813em;
  color: #c2c2c2;
  position: relative;
}

.post-comment-link:hover {
  text-decoration: underline;
}

.post-comment-link:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url("../img/sprite.png") no-repeat -50px -100px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: relative;
  top: 2px;
  margin-right: 5px;
}

section.comments {
  margin-bottom: 40px;
}

section.comments .avatar {
  margin: 6px auto 0;
  width: 58px;
  height: 58px;
}

section.comments .avatar.default {
  background: url("../img/sprite.png") no-repeat -350px -50px;
}

section.comments .author {
  font-size: 0.938em;
  color: #c2c2c2;
  font-weight: 700;
  margin-bottom: 0.5em;
}

section.comments .author .name {
  color: #525252;
}

section.comments .posting-time,
section.comments .reply-button {
  color: #c2c2c2;
  font-size: 0.813em;
}

section.comments .reply-button {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

section.comments .reply-button:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 14px;
  background: url("../img/sprite.png") no-repeat -100px -100px;
  position: relative;
  top: 2px;
  margin-right: 4px;
}

section.comments .reply-button:hover:before {
  background-position: -150px -100px;
}

section.comments .posting-time:hover {
  text-decoration: underline;
}

section.comments .reply-button:hover {
  color: #f45435;
}

section.comments .text-content {
  margin-bottom: -1em;
}

section.comments article {
  padding: 26px 0;
  position: relative;
}

section.comments article:after {
  content: "";
  height: 0;
  border-bottom: 1px solid #e9e9e9;
  width: 200%;
  left: -20%;
  bottom: 0;
  position: absolute;
}

section.comments article:last-child:after {
  border-bottom: 0;
}

section.comments article:first-child {
  padding-top: 0;
}

section.comments article:last-child {
  padding-bottom: 0;
}

section.comments article.level-1 {
  padding-left: 60px;
}

section.comments article.level-2 {
  padding-left: 100px;
}

section.post-comment .fields {
  margin-bottom: 30px;
}

section.post-comment .fields input {
  margin-bottom: 20px;
}

section.post-comment textarea {
  height: 8.35em !important;
  padding-top: 10px;
}

.input.tooltip {
  background: #59c148;
  color: #fff;
  padding: 0.44em 1.4em 0em;
  position: relative;
  text-align: center;
}

.newsletter-wrap h3 {
  line-height: 3.1em;
  margin-bottom: 0;
}

footer .stripe-regular {
  padding-top: 60px;
}

.pre-footer-wrap [class*="column"] {
  margin-bottom: 40px;
}

.pre-footer-wrap [class*="column"]:last-child {
  margin-bottom: 0;
}

.footer-menu {
  text-align: center;
}

.footer-menu li {
  display: inline-block;
  margin: 0 7px 7px;
}

.footer-menu a:hover {
  color: #f45435;
}

.pre-footer-wrap p,
.pre-footer-wrap ul,
.pre-footer-wrap .tweet .posted,
.footer-wrap .copyright {
  font-size: 0.813em;
}

footer .tweet {
  padding-left: 28px;
  position: relative;
}

footer .tweet:before {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat -200px -50px;
  width: 16px;
  height: 11px;
  display: block;
  top: 0.4em;
  left: 0;
}

footer .tweet p {
  margin-bottom: 0.1em;
}

footer .tweet .posted {
  color: #787878;
}

footer .tweet .posted:hover {
  color: #878787;
}

footer .social {
  text-align: center;
}

footer .social li {
  display: inline-block;
  margin: 0 1px;
}

footer .social .ir {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/sprite.png") no-repeat -250px 0;
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: pointer;
}

footer .social a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

footer .social .in {
  background-position: -300px 0;
}

footer .social .fb {
  background-position: -350px 0;
}

.opaque,
.opaque:hover {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.lt-ie9 input[type="text"],
.lt-ie9 input[type="password"] {
  padding-top: 1em;
}

.lt-ie9 [class*="large-block-grid-"] li {
  display: inline-block;
  max-width: 110px;
  margin: 0 10px 20px 0;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.no-padding {
  padding: 0 !important;
}

.main-menu > li > a {
  font-weight: 500;
  text-transform: none;
  font-size: 14px;
}

.rr.main-menu {
  padding-top: 33px;
}

.rr.main-menu {
  padding-top: 28px;
}

header .stripe-white {
  background: transparent none repeat scroll 0 0;
  border: 0 solid;
  box-shadow: none;
  padding: 13px 0;
}

.flexslider .slides img {
  width: 100% !important;
}

.bold-black {
  color: #333;
  font-weight: bold;
}

.store-info > figure {
  border: 1px solid #ddd;
  display: inline-block;
}

.store-info,
.rating-widget {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  padding: 15px 15px 0;
  text-align: center;
}

.row .row.collapse.rating-widget {
  margin-top: 20px;
}

.row .row.collapse.rating-widget h3 {
  margin-bottom: 5px;
}

.row .row.collapse.rating-widget .ratingCalculator {
  margin-top: 5px;
}

.row .row.collapse.rating-widget p {
  font-size: 13px;
  margin-bottom: 10px;
}

.row .row.collapse.rating-widget .ico {
  cursor: pointer;
  color: #ccc;
}

.row .row.collapse.rating-widget .ico.RateActive {
  color: gold;
}

.row .row.collapse.rating-widget .ico:before {
  font-family: FontAwesome;
  content: "\f005";
  font-size: 20px;
}

.row .row.collapse.rating-widget {
  text-align: left;
}

.row .row.collapse.store-info .alt {
  margin-top: 15px;
  line-height: 1.3;
}

.row .row.collapse.store-info p {
  margin: 1em 0 1.6em;
}

.items-landscape li {
  border: 1px solid #ddd;
}

.morecontent span {
  display: none;
}

.morelink {
  display: block;
}

.serchstorelist > ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.searcmainarea {
  background: #fff none repeat scroll 0 0;
  position: absolute;
  border: 1px solid #eee;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 15px;
  top: 59px;
  width: 100%;
  z-index: 99999;
  width: calc(100% - 20px);
  right: 10px;
}

.clssx {
  position: absolute;
  right: 15px;
  top: 12px;
  z-index: 999999;
  cursor: pointer;
  text-transform: none;
}

.clssx i {
  font-style: normal;
}

.searchheading {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 0 10px 10px;
}

.resultsearch .serchstorelist {
  max-height: 160px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.serchstorelist li {
  border: 1px solid #ddd;
  float: left;
  height: 70px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: calc(33% - 10px);
}

.serchstorelist figure {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.serchstorelist figcaption {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  color: #d84225;
  font-size: 14px;
  padding: 10px 0;
  position: absolute;
  top: 100%;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  width: 100%;
}

.serchstorelist figcaption a {
  font-weight: bold;
  font-size: 14px !important;
  text-transform: none;
}

.serchstorelist li:hover figcaption {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.clssx i:before,
.clssx i:after {
  display: none !important;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  padding: 20px;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  bottom: auto;
  left: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  right: auto;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal-header .close {
  margin-top: -2px;
}

button.close {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  cursor: pointer;
  padding: 0;
}

.close {
  color: #000;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.2;
  text-shadow: 0 1px 0 #fff;
}

.code-area .col-md-8 {
  float: left;
  padding: 0 15px;
  width: 66.6666%;
}

.code-area .col-md-4 {
  float: left;
  width: 33.3333%;
}

.code-area .button {
  position: relative;
  top: 1px !important;
}

.modal .modal-body .code-area .code {
  border-radius: 3px 0 0 3px !important;
  text-align: center;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

@media (max-width: 767px) {
  .item-thumb .wrap-new,
  .item-thumb .top {
    height: auto;
  }

  .content-coupon,
  .wrap-new .bottom.columns {
    transform: none;
    -webkit-transform: none;
  }

  .content-coupon {
    padding: 0 !important;
  }

  .item-thumb figure {
    display: inline-block;
    float: none;
  }

  .code-area .col-md-8,
  .code-area .col-md-4 {
    width: 100%;
  }
}

.deal .deal-content {
  background: rgba(77, 194, 218, 0.9) none repeat scroll 0 0;
  display: table-cell;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 100%;
  transition: all 500ms ease 0s;
  -webkit-transition: all 500ms ease 0s;
  vertical-align: middle;
  width: 100%;
}

.deal-wrap {
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
}

.deal-wrap .deal-img img {
  height: auto;
  width: auto;
}

.deal {
  margin: 6px 0;
}

.deal:hover .deal-content {
  top: 0;
}

.deal .deal-content .unk.italic {
  color: #fff;
  display: inline-block;
  margin: 0;
}

.deal .deal-content .deal-head {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.text-content .contact.row p {
  margin: 0 0 6px;
}

.contact .form-control {
  border: 1px solid #ddd;
  height: 35px;
  padding: 0 10px;
}

.contact textarea.form-control {
  height: 70px;
}

.no-margin {
  margin: 0 !important;
}

@-ms-viewport {
  width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table;
  }

  tr.visible-md {
    display: table-row !important;
  }

  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }

  table.visible-print {
    display: table;
  }

  tr.visible-print {
    display: table-row !important;
  }

  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.col,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.categories .cat-icon {
  padding: 2px;
  text-align: center;
}

.categories img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  padding: 15px;
  width: 100%;
}

.categories > div {
  float: left !important;
  height: auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.categories .cat-text > a {
  background: #f2f2f2;
  color: #000;
  display: block;
  font-size: 13px;
}

h4.cat-text.boxed-coupon-heading {
  margin: 0;
}

footer .text-content {
  font-size: inherit;
  line-height: 1.5;
  text-align: justify;
}

footer .text-content .morelink {
  color: white;
  font-weight: 700;
}

footer .text-content p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .cf .customSelect,
  .cf select {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .cf .rr.main-menu {
    padding-top: 0;
  }

  .cf .columns {
    margin: 0;
  }

  .cf .search-wrap {
    padding-top: 0;
  }

  .coupons-wrapper .wrapper-3 {
    position: relative;
  }

  .coupons-wrapper .wrapper-3 .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .coupons-wrapper .wrapper-3 .columns {
    width: inherit;
    padding: 0 7px;
  }

  .coupons-wrapper .wrapper-3 .columns + .columns {
    flex: 1;
  }

  .coupons-wrapper .wrapper-3 .columns + .columns + .columns {
    flex: inherit;
    position: static;
  }

  .coupons-wrapper .wrapper-3 .columns,
  .coupons-wrapper .wrapper-3 figure,
  .coupons-wrapper .wrapper-3 .alt {
    margin: 0;
  }

  .coupons-wrapper .wrapper-3 .text.secondary {
    display: none;
  }

  .coupons-wrapper .wrapper-3 figure {
    border: solid 1px #efefef;
  }

  .coupons-wrapper .wrapper-3 figure img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  .coupons-wrapper .wrapper-3 .alt {
    font-size: 14px;
    text-align: left;
    padding: 10px 0;
  }

  .coupons-wrapper .wrapper-3 .alt a {
    color: #222;
  }

  .coupons-wrapper .wrapper-3 .col-right {
    padding: 0;
  }

  .coupons-wrapper .wrapper-3 h6 {
    font-size: 12px;
    position: absolute;
    left: 103px;
    top: 8px;
    font-weight: 400;
    color: #888;
  }

  .coupons-wrapper .wrapper-3 .input.button {
    width: 90px;
    font-size: 12px;
  }
}

@media (max-width: 519px) {
  .cf .large-4 {
    margin: 20px 10px;
    float: inherit;
    width: auto;
  }

  .select-main-menu.customSelect {
    position: relative;
  }

  .select-main-menu.customSelect:after {
    top: 18px;
  }
}

@media (max-width: 480px) {
  .coupons-wrapper .wrapper-3 h6 {
    left: 83px;
    font-size: 10px;
  }

  .coupons-wrapper .wrapper-3 figure img {
    width: 60px;
    height: 60px;
  }

  .coupons-wrapper .wrapper-3 .alt {
    font-size: 12px;
    text-align: left;
  }
}

/* Modal */
.modal .modal-dialog {
  width: 700px;
}

.no-padding {
  padding: 0 !important;
  position: relative;
  right: 15px;
  top: -5px;
}

a.css {
  color: #fff;
  text-decoration: none;
}

.descriptionhead {
  font-size: 16px !important;
}

.header_search_store {
  font-size: 14px !important;
}

#content {
  padding-left: 0 !important;
}

.product-logo {
  text-align: center;
}

.blog {
  color: #13768f;
  font-size: 23px;
  margin-bottom: 0;
  text-align: center;
  display: block;
}

.new-brand-bg {
  border: none !important;
}

.modal {
  top: 20% !important;
}

.modal.in .modal-dialog {
  z-index: 9999;
}

.modal .modal-content .modal-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #000;
  text-align: center;
}

.modal .modal-content p {
  font-size: 15px;
  text-align: center;
  margin: 5px 0 0;
}

.modal .modal-header {
  border-bottom: none;
}

.modal .modal-body .code-area {
  margin: 0 auto;
  text-align: center;
}

.modal .modal-body .code-area .code {
  display: block;
  float: left;
  background-color: #efefef;
  border-radius: 3px 0 0 3px;
  border: none;
  float: left;
  width: 100%;
  padding: 12px;
  color: #000;
  font-size: 22px;
  left: 16px;
  transition: background-color 300ms linear;
}

.modal .modal-body .code-area .code.copied {
  background-color: #ffe159;
}

.modal .modal-body .code-area .button {
  display: block;
  background-color: #bf1e2e;
  border-bottom: 4px solid #a61a28;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 16px;
  padding: 18px;
  top: -7px;
  width: 100%;
  cursor: pointer;
}

#remove .modal-backdrop.in {
  opacity: 0.8;
}

.modal .modal-body .button-submit {
  display: block;
  width: 196px;
  text-align: center;
  background-color: #00a651;
  border-bottom: 4px solid #007c29;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  position: relative;
  top: 15px;
  clear: both;
  margin: 0 auto 15px;
}

.modal-content .modal-body {
  float: left;
  padding: 0;
  width: 100%;
}

.modal .modal-body .button-submit.light-blue {
  background-color: #00a651;
  border-bottom: 4px solid #007c29;
  width: 300px;
  font-size: 24px;
}

.resultsearch {
  position: absolute;
  top: 70px;
  left: 10px;
  right: 10px;
  max-height: 286px;
  overflow: auto;
  background: white;
}

.resultsearch a {
  display: block;
  line-height: 40px;
  padding: 0 15px;
  font-size: 14px;
}

.resultsearch a + a {
  border-top: solid 1px #efefef;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .modal {
    top: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .modal .modal-dialog {
    width: auto !important;
  }

  .no-padding {
    left: 0;
    padding: 0 15px !important;
  }
}

@media only screen and (max-width: 767px) {
  .modal .modal-body .code-area .code {
    left: 5px;
  }
}

@media only screen and (max-width: 300px) {
  .modal .modal-body .code-area .code {
    font-size: 8px;
  }

  .modal .modal-body .code-area .button {
    font-size: 11px;
    left: 96px;
    line-height: 13px;
    padding: 10px;
    top: -2px;
    width: 52%;
  }

  .modal .modal-body .button-submit {
    font-size: 12px;
    left: 25px;
    padding: 7px;
    width: 196px;
  }

  .modal .modal-content {
    height: 253px;
  }
}

.wrapper-3 .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wrapper-3 .alt {
  margin: 0;
}

.text-content .contact.row p {
  margin: 0 0 15px;
  padding: 0 10px;
}

.text-content .contact.row p input,
.text-content .contact.row p textarea {
  border-radius: 3px;
  padding: 15px;
  height: auto;
  line-height: 1;
}

.text-content .contact.row .gcpcha {
  float: left;
}

.text-content .contact.row p button {
  background: #1774bc;
  color: #fff;
  border: 0;
  padding: 15px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 10px;
  display: table;
  margin: 10px 0 0 auto;
  transition: 300ms linear;
}

.text-content .contact.row p button:hover,
.text-content .contact.row p button:focus {
  background: #104f7f;
}

.contact-textarea {
  margin-bottom: 20px !important;
}

.gcpcha,
.gcpcha + .block-btn {
  display: inline-block;
}

.gcpcha {
  padding-left: 10px;
  width: calc(100% - 120px) !important;
}

.gcpcha + .block-btn {
  margin-top: 7px !important;
  width: auto;
}

.gcpcha + .block-btn button {
  width: 100px;
}

.alert {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.alert ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.alert ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  line-height: 1.4;
}

.alert ul li:before {
  content: "\f00d";
  font-family: FontAwesome;
  margin-right: 10px;
  align-self: flex-start;
  width: 20px;
  height: 20px;
  display: inline-flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.alert.alert-danger {
  background: #ffd0d0;
  color: #631818;
}

.alert.alert-danger ul li:before {
  background: #c31e1e;
}

.alert.alert-success {
  background: #eefff1;
  color: #3e5843;
}

.alert.alert-success ul li:before {
  background: #1cbf3c;
}

@media (max-width: 767px) {
  .main-sidebar {
    display: none;
  }

  html body .footer-menu {
    text-align: center;
  }

  html body .footer-menu li {
    display: inline-block;
    margin: 0 7px 7px;
  }
}

@media (max-width: 520px) {
  .top-wrap .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
  }

  .top-wrap .large-3 {
    flex: 1;
    top: 0;
    z-index: 4;
  }

  .top-wrap .large-3 img {
    max-width: 180px;
    height: auto;
    display: block;
  }

  .top-wrap .large-4 {
    margin: 0;
    top: 5px;
    padding: 0 10px !important;
    position: static;
  }

  .top-wrap .select-main-menu {
    z-index: 2;
    cursor: pointer;
    /* margin-right: 5px; */
    left: 0;
  }

  .top-wrap .customSelect.input.secondary {
    width: 39px !important;
    height: 39px !important;
    padding: 0;
    margin: 0;
    position: relative;
    background: #1774bc;
    border-radius: 3px;
    cursor: pointer;
    transition: background 300ms linear;
    z-index: -1;
  }

  .top-wrap .customSelect.input.secondary:hover,
  .top-wrap .customSelect.input.secondary:focus {
    background: #104f7f;
  }

  .top-wrap .customSelect span {
    display: none !important;
  }

  .top-wrap .customSelect:after {
    background: transparent;
    position: static;
    font-family: FontAwesome;
    content: "\f0c9";
    width: 39px;
    height: 39px;
    line-height: 39px;
    font-size: 20px;
    font-weight: 400;
  }

  header .stripe-white {
    padding: 10px 0;
  }

  .search-box .input.field {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .gcpcha {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .gcpcha + .block-btn {
    width: 100%;
  }

  .gcpcha + .block-btn button {
    width: 100%;
  }
}

.rr.slides .columns {
  padding: 0;
}

.logWrpr {
  display: flex;
  flex-wrap: wrap;
}

.logWrpr .columns {
  margin-bottom: 20px;
}

.logWrpr .topLogo {
  padding: 10px;
  border: solid 1px #efefef;
  display: block;
  height: 100%;
  border-radius: 5px;
}

.logWrpr .topLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.termbtn {
  font-size: 12px;
  margin-top: 5px;
  line-height: 1;
  transition: color 300ms linear;
  cursor: pointer;
}

.termbtn i {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  border: solid 1px #00a651;
  text-align: center;
  line-height: 16px;
  color: #00a651;
  border-radius: 18px;
  font-size: 12px;
}

.termbtn:hover,
.termbtn:focus {
  color: #00a651;
}

.item-thumb .wrap-new {
  height: auto;
}

.coupons-wrapper .items-landscape .termContent h6 {
  position: static;
  color: #333;
  font-weight: 700;
}

.coupons-wrapper .items-landscape .termContent a {
  display: inline;
}

.coupons-wrapper .items-landscape .termsInner {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: solid 1px #efefef;
}

.coupons-wrapper .items-landscape .termsInner h6 {
  margin-bottom: 0;
  font-size: 13px;
}

.termContent,
.coupons-wrapper .items-landscape .termContent {
  overflow: hidden;
  transition: height 300ms linear;
}

.termsInner,
.coupons-wrapper .items-landscape .termsInner,
.termContentInner {
  text-align: left !important;
  border-top: solid 1px #efefef;
  padding-top: 10px;
  margin-top: 20px;
}

.termContentInner {
  margin-top: 0;
}

.termContentInner {
  padding-bottom: 20px;
}

.termContent h3,
.coupons-wrapper .items-landscape .termContent h3 {
  font-size: 15px;
  margin: 0;
}

.termContent h6 {
  margin: 3px 0;
}

.termContent .dyncnt,
.coupons-wrapper .items-landscape .termContent .dyncnt {
  font-size: 13px;
}

.termContent .dyncnt a,
.coupons-wrapper .items-landscape .termContent .dyncnt p a {
  display: inline;
  text-decoration: underline;
  color: #00a651;
}

.termContent .dyncnt ul,
.termContent .dyncnt ol {
  font-size: 13px;
  padding: 0 0 0 17px;
}

.termsInner > *,
.termContent .dyncnt > *,
.coupons-wrapper .items-landscape .termContent .dyncnt > * {
  margin: 0;
  text-align: left !important;
}

.termContent .dyncnt > * ~ *,
.termsInner > * ~ *,
.coupons-wrapper .items-landscape .termContent .dyncnt > * + * {
  margin-top: 10px;
}

.wrap-new .bottom.columns {
  margin-top: 39px;
}

.pre-footer-wrap [class*="column"] {
  margin-bottom: 0;
}

footer .disclosure {
  background: #313131;
  padding: 20px 0;
}

footer .disclosure .large-12 {
  padding: 0 10px;
  font-size: 12px;
  text-align: center;
  color: #888;
}

[data-offer-id] ~ .termbtn {
  margin-top: 10px;
  display: inline-block;
}

.modal .modal-body .termsBtn {
  width: 110px;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  outline: none;
}

.modal .modal-body .termsBtn i {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  border: solid 1px #00a651;
  text-align: center;
  line-height: 16px;
  color: #00a651;
  border-radius: 18px;
  font-size: 12px;
}

.logWrpr .large-6:nth-child(odd) {
  padding-left: 0;
}

.logWrpr .large-6:nth-child(even) {
  padding-right: 0;
}

/* Breadcrumb */
.brdcrb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 15px 0;
  list-style: none;
  font-size: 12px;
}

.brdcrb li {
  display: flex;
  flex-wrap: wrap;
}

.brdcrb li + li:before {
  content: ">";
  margin: 0 5px;
  color: #aaa;
}

.brdcrb li a {
  transition: color 300ms linear;
}

.brdcrb li a:hover,
.brdcrb li a:focus {
  color: #00a651;
}

.strtbl {
  background-color: white;
  padding: 15px;
  border: solid 1px #dddddd;
}

.strtbl h2 {
  font-size: 16px;
}

.strtbl table {
  font-size: 14px;
  width: 100%;
}

.strtbl table th {
  color: black;
  padding-bottom: 5px;
}

.strtbl table th time {
  font-size: 12px;
}

.strtbl table td {
  border-top: solid 1px #efefef;
  padding: 5px 0;
}

.strtbl table tr * + * {
  text-align: center;
}

aside.large-3.columns.main-sidebar {
  margin-top: 36px;
}

.searchBg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.top-wrap .large-5.columns {
  position: relative;
  z-index: 100;
}

.search-wrap .row {
  position: relative;
}

#footernews.warning {
  border: solid 1px gold;
}

#footernews.error {
  border: solid 1px red;
}

@media (max-width: 767px) {
  .topStores,
  .brdcrb,
  .strtbl,
  .main-slider-wrap,
  .rr.items-landscape .large-2 {
    display: none;
  }
}
